body{
	
	
	background-color:#b7d7e8
}


.permbajtja article p{
	width:1000px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:20px;
	text-align:top;
	float:left;
	padding-left: 20px;
	
	
	
}




.permbajtja article p span a:hover
	{
		background-color: ##36486b;
	}
	

	header{
		
		background-color:	#87bdd8;
		margin-bottom:15px;
		
		
	}
	
	
	
	h1{
	   font-family:Harrington, 'Sofia',sans-serif;
	   font-size: 50px;
	   color:black;

}	   
	
	
	
.regjistrohu p{
	
	display:inline;
}



/*#faqja{
	margin-left:1.5em;
	margin-right:1em;
     }*/
	/*.permbajtja p{
		
		padding-left:4em;
		padding-right:3em;
		
		
	}*/
	


table{
	
    display: inline;
	 padding-left:54em;
    font-size: 15px; 
	color:black;
	
	font-weight:bold;
}


table td{
	background-color:lightblue;
	margin-right:1em;
}
	
	.menuja ul li{
		display:inline;
		border-style:solid;
		border:1em 1em 2em 1em;
		border-bottom-color:lightblue;
		list-style:none;
		display:inline;
		color: lightblue;
		font-size:25px;
		padding-right:5px;
	         padding:3px 10px;
			 margin:0 40px 0 40px;
			 outline-style:solid;
			 outline-color:#667292;
			 
			 /*#246175;*/
	}
	
	
	
	.happyimg img {
		height:150px;
		width:200px;
		
		
	}
	.permbajtja2 {
		font-size:15px;
		background-color: #f1e3dd;
    width: 230px;
	height:500px;
    border: 8px solid #667292;
float:left;
 clear: left;
	}
	#play{
		width:8em;
		height:3em;
		color:blue;
		float:right;
		font-size:1.3em;
		font-style:sans-serif;
	}
	
	